.container {
    width: 400px;
    background: gray;
    margin: 0 auto;
    padding: 20px;
}

#main-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-area > textarea
, #main-area > span {
    margin-bottom: 15px;
}

#main-area > textarea {
    min-height: 60px;
    width: 100%;
    resize: none
}

.button-group > span{
    border-radius: 50%;
    background: olive;
    height: 50px;
    width: 50px;
}